body {
    background-color: beige;
}

/*header*/

.header {
    position: fixed;
    width: 100%;
    z-index: 10000;
    top: 0;
    background-color: bisque;
}

#headline {
    margin: 10px;
    padding: 15px auto;
}
/*
#global-nav {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.menu-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    width: 15%;
}*/
#global-nav ul {
    display: flex;
    text-align: center;
}
.menu-item {
    list-style: none;
    width: 100%;
}

/*main*/

.main {
    padding-top: 150px;
}

#SNS {
    display:flex;
    list-style: none;
}
#SNS li {
    list-style: none;
}
/*Onigiri*/
.route-menu li {
    float: left;
    list-style: none;
    padding: 33px 20px;
}

#update-history {
    margin-top: 110px;
    height: 150px;
    border: 1px solid #000;
    overflow-y: scroll;
}

@media screen and (max-width: 1279px){
    
}

@media screen and (max-width: 959px){
    
}

@media screen and (max-width: 480px){
    #global-nav ul {
        display: flex;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    .menu-item {
        list-style: none;
        width: 100%;
    }
    #update-history {
        margin-top: 1500px;
    }
}